/** @format */
/* 
 1- common style
 2- general style
 3- sections
     3.0- Navbar Section
     3.1- home section 
     3.2- about section 
     3.3- Portfollio section 
     3.4- services section 
     3.5- prices section 
     3.6- Team section 
     3.7- Blog section 
     3.8- Contact section 
     3.9- Footer Section
*/

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* applay in all element */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* css3 */
}

body {
	font-family: 'Varela Round', sans-serif;
}

/* global styles */
.container {
	width: 80%;
	margin: auto;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: monospace;
}
button {
	font-family: inherit;
}
.hover-opacity {
	transition: opacity 0.3s;
}
.hover-opacity:hover {
	opacity: 0.8;
}

.section-header {
	text-align: center;
	margin-bottom: 20px;
}
.section-header .section-title {
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.section-header .line {
	display: block;
	height: 3px;
	width: 30px;
	background-color: #6195ff;
	margin: 0px auto 70px auto;
}
.p-y {
	padding: 100px 0px;
}
.mg-x {
	margin: 0px 5%;
}
.left-to-right-effect {
	position: relative;
}
.left-to-right-effect::after {
	position: absolute;
	content: '';
	width: 0%;
	height: 100%;
	background-color: #333;
	z-index: -1;
	left: 0;
	top: 0;
	transition: width 0.5s;
}
.left-to-right-effect:hover::after {
	width: 100%;
}
/* or put overflow: hiddien in parent*/
.clear {
	clear: both;
}

/* navbar */
.navbar {
	position: fixed;
	width: 100%;
	z-index: 10;
}

.navbar .logo {
	width: 40%;
	float: left;
}
.navbar .logo img {
	width: 20%;
	margin-top: 15px;
}
.navbar .nav {
	width: 60%;
	float: right;
	list-style: none;
	text-align: right;
}
.navbar .nav > li {
	display: inline-block;
	text-align: center;
	font-size: 15px;
}
.navbar .nav > li > a {
	text-decoration: none;
	padding: 30px 15px;
	display: block;
	color: #fff;
}
.navbar .nav > li > a::after,
.navbar .nav > li > a.active::after {
	content: '';
	display: block;
	width: 0;
	height: 3px;
	background-color: #6195ff;
	transition: width 0.3s;
	margin-top: 2px;
}
.navbar .nav > li > a.active::after {
	width: 100%;
}
.navbar .nav > li > a:hover::after {
	width: 100%;
}
.dropdown {
	position: relative;
}
.dropdown-menu {
	position: absolute;
	background-color: #6195ff;
	width: 150px;
	text-align: center;
	left: -50%;
	top: 70%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visability 0.3s;
}
.dropdown-menu a {
	color: #fff;
	display: block;
	padding: 10px;
	text-decoration: none;
}
.dropdown:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
}
/* home section */
.home {
	height: 100vh;
	background-image: url(../images/background/background1.webp);
	background-position: center;
	background-size: cover;
	position: relative;
}

.home-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 60%;
}
.home-content .title {
	color: #fff;
	font-size: 3.5rem;
	text-transform: uppercase;
	word-spacing: -7px;
}
.home-desc {
	color: #fff;
	line-height: 1.8;
	margin: 20px 0px;
}
.home .btn {
	width: 130px;
	border: none;
	padding: 10px 5px;
	border-radius: 5px;
	margin: 0px 5px;
	cursor: pointer;
	font-size: 14px;
}
.home .btn-start {
	background-color: #fff;
}
.home .btn-learn {
	background-color: #6195ff;
	color: #fff;
}
/* about section */
.about-content {
	overflow: hidden;
}
.about-item {
	width: 30%;
	float: left;
	text-align: center;
	border: 1px solid #e8e8e8;
	padding: 50px 10px;
}
.about-item .icon {
	color: #6195ff;
	margin-bottom: 10px;
}
.about-item-title {
	text-transform: capitalize;
	margin-bottom: 10px;
	transition: color 0.3s;
}
.about-item-desc {
	line-height: 1.5;
	margin-bottom: 10px;
	color: #999;
}
.about-item-link {
	color: #6195ff;
	text-transform: capitalize;
	text-decoration: none;
}
.about-item:hover .about-item-title {
	color: #fff;
}
/* Portfollio section */
.portfalio {
	background-color: #f9f9f9;
}
.portfalio-content {
	overflow: hidden;
}
.portfalio-item {
	width: 32%;
	float: left;
	margin-bottom: 50px;
	position: relative;
	padding: 20px;
}
.portfalio-item img {
	width: 100%;
	margin: 0px 2%;
}
.portfalio-item .layer-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s;
}
.portfalio-item:hover .layer-content {
	opacity: 1;
	visibility: visible;
}
.layer-content .layer-info {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.layer-content .catigory {
	color: #6195ff;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
	position: relative;
	top: 15px;
	transition: top 0.4s, opacity 0.4s;
	transition-delay: 0.1s;
	opacity: 0;
}
.layer-content-title {
	font-size: 22px;
	color: #fff;
	margin-bottom: 10px;
	position: relative;
	top: 15px;
	transition: top 0.4s, opacity 0.4s;
	transition-delay: 0.15s;
	opacity: 0;
}
.layer-content a {
	position: relative;
	top: 15px;
	transition: top 0.4s, opacity 0.4s;
	transition-delay: 0.2s;
	line-height: 40px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #6195ff;
	color: white;
	opacity: 0;
}
.portfalio-content:hover .layer-content .catigory,
.portfalio-content:hover .layer-content-title,
.portfalio-content:hover .layer-content a {
	top: 0;
	opacity: 1;
}

/* services section */
/* prices section */
/* Team section */
/* Blog section */
/* Contact section */
